{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/mystyle.css">
    {% block title %}
    {% endblock %}
    {% block scripts %}
    {% endblock %}
    <style>
        @font-face {
            font-family: Century Gothic;
            src: url("../assets/fonts/century-gothic/GOTHIC.ttf") format(truetype);
        }
        @font-face {
            font-family: Modestic;
            src: url("../assets/fonts/modestic_sans/ModesticSans-Bold.ttf") format(truetype);
        }
    </style>
</head>
<body>
    {% block content %}
    {% endblock %}
    <script src="../assets/js/bootstrap.bundle.min.js"></script>
</body>
</html>