{% extends 'users/base.html' %}
{% load static %}

{% block title %}
  <title>Calendário Gestor</title>
{% endblock %}

{% block style %}
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
  <style>
    @font-face {
      font-family: Modestic;
      src: url("{% static 'assets/fonts/modestic_sans/ModesticSans-Bold.ttf' %}") format(truetype);
    }
    
  </style>
{% endblock %}

{% block content %}
  <!-- nav -->
  <section class="py-5">
      <div> 
          <h1 style="font-family: Modestic; text-align: center;" >Calendário</h1>
      </div>
      <div>
          <div class="d-flex justify-content-center pt-3">
            <select class="form-select" id="list_teacher" style="width: 50%;" aria-label="Default select example" onchange="mostardivprof();">
                <option selected>Selecione um professor</option>
                {% for user in users %}
                    <option value="{{ user.id }}">{{ user.first_name }}</option>
                {% endfor %}
            </select>
          </div>
          <br>
            <div class="d-flex justify-content-center" style="visibility: hidden;" id="prof">
                <select class="form-select" id="list_room" style="width: 50%;" aria-label="Default select example" onchange="mostardiv();">
                    <option selected>Selecione sua sala</option>
                    {% for rom in rooms %}
                        <option value="{{ rom.id }}">{{ rom.name }}</option>
                    {% endfor %}
                </select>
            </div>
          <div class="row" style="visibility: hidden;" id="calen">
              <div class="col-md-12">
                <div class="content w-100">
                  <div class="calendar-container">
                    <div class="calendar"> 
                      <div class="year-header"> 
                        <span class="left-button fa fa-chevron-left" id="prev"> </span> 
                        <span class="year" id="label"></span> 
                        <span class="right-button fa fa-chevron-right" id="next"> </span>
                      </div> 
                      <table class="months-table w-100"> 
                        <tbody>
                          <tr class="months-row">
                            <td class="month">Jan</td> 
                            <td class="month">Fev</td> 
                            <td class="month">Mar</td> 
                            <td class="month">Abr</td> 
                            <td class="month">Mai</td> 
                            <td class="month">Jun</td> 
                            <td class="month">Jul</td>
                            <td class="month">Ago</td> 
                            <td class="month">Set</td> 
                            <td class="month">Out</td>          
                            <td class="month">Nov</td>
                            <td class="month">Dez</td>
                          </tr>
                        </tbody>
                      </table> 
                      <table class="days-table w-100"> 
                        <td class="day">Dom</td> 
                        <td class="day">Seg</td> 
                        <td class="day">Ter</td> 
                        <td class="day">Qua</td> 
                        <td class="day">Qui</td> 
                        <td class="day">Sex</td> 
                        <td class="day">Sáb</td>
                      </table> 
                      <div class="frame"> 
                        <table class="dates-table w-100"> 
                          <tbody class="tbody">             
                          </tbody> 
                        </table> 
                      </div> 
                    </div>
                  </div>
                  <p class="events-container" style="background-image: url(/static/assets/img/ses3.png); background-repeat: no-repeat; background-size: cover; background-position: center;">
                  </p>
                  <!--<div class="events-container">
                    <img src="path_to_your_image.jpg" alt="Placeholder Image" style="width: 80%; height: auto;">
                  </div>-->
                  <div class="dialog" id="dialog">
                    <input class="input" type="text" id="name">
                    <form class="form" id="form" method="post">
                      {% csrf_token %}
                        <div class="form-container" style="margin-left:10%; margin-top:0;">
                            <!-- Novo container para o checklist -->
                            <div id="checklist-container" class="mt-3"></div>

                            <input type="hidden" id="room" name="room">
                            <input type="hidden" id="date" name="date">
                            <input type="hidden" id="teacher" name="teacher">
                            <input type="button" value="Cancel" class="button" id="cancel-button">
                            <input type="submit" value="Reservar" class="button button-white" id="ok-button">
                        </div>
                    </form>
                </div>
                </div>
              </div>
          </div>
      </div>
  </section>
  
  {% block script %}
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/popper.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
  {% endblock %}

{% endblock %}