{% extends 'users/base.html' %}
{% load static %}

{% block title %}
    <title>Pendente</title>
{% endblock %}

{% block nav %}
    {% include 'users/partials/manager/_header.html' %}
{% endblock %}

{% block style %}
    <style>
        .header {
            padding: 15px;
            text-align: center;
        }
        @font-face {
            font-family: Modestic;
            src: url("{% static 'assets/fonts/modestic_sans/ModesticSans-Bold.ttf' %}") format(truetype);
        }
    </style>
{% endblock %}

{% block content %}
    <section class="py-5">
        <div class="header position-relative mb-5">
            <h1 class="position-absolute top-0 start-50 translate-middle-x" style="font-family: Modestic;">Solicitações Pendentes</h1>
            <div class="position-absolute top-0 end-0">
                <button type="button" class="btn"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="blue" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                    <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0"/>
                </svg></button>
            </div>
        </div>     
        <div class="container">
            {% for reserva in reservas %}    
            <div class="card p-3 mb-3 border-2">
                <div class="row">    
                    <div class="col">    
                        <h5 class="card-title">{{reserva.get_teacher_username}}</h5>    
                    </div>    
                    <div class="col">
                        <h5 class="text-end">{{reserva.room}}</h5>
                    </div>
                </div>    
                <p class="f text-start mt-1" style="font-size: 15px; color: dimgray;">Data: {{reserva.date}} | {{reserva.hour}}</p>
                <div class="card-body">
                    <p class="card-text"></p>
                    <div class="text-center">
                        <form method="post" action="{% url 'manage_solicitation' reserva.id %}">
                            {% csrf_token %}
                            <button type="submit" name="action" value="approved" class="btn btn-success px-3" style="margin-right: 100px;">Aceitar</button>
                            <button type="submit" name="action" value="rejected" class="btn btn-danger px-3">Rejeitar</button>
                        </form>
                    </div>
                </div>    
            </div>
            {% endfor %}
            <div class="pagination">
                <span class="step-links">
                    {% if reservas.has_previous %}
                        <a href="?page=1">&laquo; primeira</a>
                        <a href="?page={{ reservas.previous_page_number }}">anterior</a>
                    {% endif %}
        
                    <span class="current">
                        Página {{ reservas.number }} de {{ reservas.paginator.num_pages }}.
                    </span>
        
                    {% if reservas.has_next %}
                        <a href="?page={{ reservas.next_page_number }}">próxima</a>
                        <a href="?page={{ reservas.paginator.num_pages }}">última &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>    
    </section>
{% endblock %}