{% extends 'users/base.html' %}
{% load static %}
{% block content %}
    <section>
        <!-- Solicitações -->
        <h1 style="font-family: Modestic;" class="text-center py-5">SOLICITAÇÕES</h1>
        <div style="background-color: #045CAC; border-radius: 10px;" class="container py-5">
            <div class="row text-center">
                <div style="color: white;" class="col">
                    <div>
                        <h3>Sala</h3>
                    </div>
                </div>
                <div style="color: white;" class="col">
                    <div>
                        <h3>Status</h3>
                    </div>
                </div>
                <div style="color: white;" class="col">
                    <div>
                        <h3>Data e hora</h3>
                    </div>
                </div>
            </div>
            <div class="container text-center" style="color: white; background-color: #045CAC;">
                <hr style="margin: 0; opacity: 100;">
                <div class="row">
                    <div class="col">
                        <p>LAB101</p>
                    </div>
                    <div class="col">
                        <p>Aprovado</p>
                    </div>
                    <div class="col">
                        <p>10/08/2024 - 14:00 - 32:57</p>
                    </div>
                </div>
                <hr style="margin: 0; opacity: 100;">
                <div class="row">
                    <div class="col">
                        <p>LAB101</p>
                    </div>
                    <div class="col">
                        <p>Aprovado</p>
                    </div>
                    <div class="col">
                        <p>10/08/2024 - 14:00 - 67:00</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}