{% extends 'users/base.html' %}
{% load static %}

{% block title %}
    <title>Todas Solicitações</title>
{% endblock %}

{% block nav %}
    {% include 'users/partials/manager/_header.html' %}
{% endblock %}

{% block style %}
    <style>
        .header {
            padding: 15px;
            text-align: center;
        }
        .btn-green{
        background-color: #045CAC;
        
        }
        @font-face {
            font-family: Modestic;
            src: url("{% static 'assets/fonts/modestic_sans/ModesticSans-Bold.ttf' %}") format(truetype);
        }
    </style>
{% endblock %}

{% block content %}
    <section class="py-5">
        <div class="header position-relative mb-5">
            <h1 class="position-absolute top-0 start-50 translate-middle-x" style="font-family: Modestic;">Todas Solicitações</h1>
            <div class="position-absolute top-0 end-0">
                <a href="{% url 'calendar_manager' %}" class="btn"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="blue" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                    <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0"/>
                </svg></a>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div style="width: 50%; ">
                <form class="d-flex" method="get" action="{% url 'total_request' %}" role="search">
                    <input class="form-control me-2" type="search" name="search" value="{{ search_query }}" placeholder="Pesquisar" aria-label="Search">
                    <button style="border-color: #045CAC;" class="btn btn-green btn-outline-success" type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white"  class="bi bi-search" viewBox="0 0 16 18">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                        </svg>
                    </button>
                </form>
            </div>  
        </div>
        <br>
        <div class="accordion container" id="accordionExample">
            {% for reserva in  reservas.reservations %}
            <div class="accordion-item border-2">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{reserva.reservation_id}}" aria-expanded="true" aria-controls="collapseOne">
                    {{ reserva.user_name }} - {{ reserva.room_name }}
                </button>
              </h2>
              <div id="{{reserva.reservation_id}}" class="accordion-collapse collapse " data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div>
                        {% if reserva.approval_status == 'approved' %}
                            <span class="badge text-bg-success">Aprovado</span> por: {{ reserva.manager_name }} | {{ reserva.approval_date }}</p>
                        {% elif reserva.approval_status == 'rejected' %}
                            <span class="badge text-bg-danger">Rejeitado</span> por: {{ reserva.manager_name }} | {{ reserva.approval_date }}</p>
                        {% elif reserva.approval_status == 'cancelled' %}
                            <span class="badge text-bg-danger">Cancelado</span> por: {{ reserva.manager_name }} | {{ reserva.approval_date }}</p>
                        {% else %}
                            <span class="badge text-bg-warning">Pendente</span>
                        {% endif %}
                    </div>
                    <div class="text-center mb-3">
                        <h5>
                            Data: {{ reserva.reservation_date }} - {{ reserva.reservation_hour }}
                        </h5>
                    </div>
                    <div class="text-center">
                        {% if reserva.approval_status != 'cancelled' %}
                        <form method="POST" action="{% url 'request_cancel' %}">
                            {% csrf_token %}
                            <input type="hidden" name="reservation_id" value="{{ reserva.reservation_id }}">
                            <button type="submit" class="btn btn-danger px-3">Cancelar Reserva</button>
                        </form>
                        {% endif %}
                    </div>
                </div>
              </div>
            </div>
            {% empty %}
            <div colspan="7">Nenhuma reserva encontrada.</div>
            {% endfor %}
          </div>
          
        <nav aria-label="Page navigation example">
            <ul class="pagination d-flex justify-content-center">
                {% if reservas.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ reservas.previous_page_number }}">Anterior</a></li>
                {% endif %}
        
                {% for num in reservas.page_range %}
                    <li class="page-item {% if num == reservas.page %}active{% endif %}">
                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                    </li>
                {% endfor %}
        
                {% if reservas.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ reservas.next_page_number }}">Próxima</a></li>
                {% endif %}
            </ul>
        </nav>
    </section>
    
{% endblock %}