<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuários</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" >
    <link rel="stylesheet" href="assets/css/style_list_user.css">
    <script src="assets/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="header">
        <h1>Usuários</h1>
    </div>
    <div class="container mt-4">
        <div class="user-card p-3">
            <div class="row align-items-center">
                <div class="col-auto">
                    <img src="assets/img/user_logo.png" width="50px" height="50px" alt="Avatar">
                </div>
                <div class="col">
                    <span>Adalberto Torres</span>
                </div>
                <div class="col-auto">
                    <button class="btn btn-edit me-2">Editar</button>
                    <button class="btn btn-delete">Deletar</button>
                </div>
            </div>
        </div>
        <div class="user-card p-3">
            <div class="row align-items-center">
                <div class="col-auto">
                    <img src="assets/img/user_logo.png" width="50px" height="50px" alt="Avatar">
                </div>
                <div class="col">
                    <span>Maurício Nascimento</span>
                </div>
                <div class="col-auto">
                    <button class="btn btn-edit me-2">Editar</button>
                    <button class="btn btn-delete">Deletar</button>
                </div>
            </div>
        </div>
        <div class="user-card p-3">
            <div class="row align-items-center">
                <div class="col-auto">
                    <img src="assets/img/user_logo.png" width="50px" height="50px" alt="Avatar">
                </div>
                <div class="col">
                    <span>Igor Martins</span>
                </div>
                <div class="col-auto">
                    <button class="btn btn-edit me-2">Editar</button>
                    <button class="btn btn-delete">Deletar</button>
                </div>
            </div>
        </div>
        <div class="user-card p-3">
            <div class="row align-items-center">
                <div class="col-auto">
                    <img src="assets/img/user_logo.png" width="50px" height="50px" alt="Avatar">
                </div>
                <div class="col">
                    <span>Adalberto Torres III Jr Filho Neto</span>
                </div>
                <div class="col-auto">
                    <button class="btn btn-edit me-2">Editar</button>
                    <button class="btn btn-delete">Deletar</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
