<div class="modal fade" id="create_classroom" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="fs-5 text-center" style="font-family: Modestic;" id="exampleModalLabel">Criar Sala</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container" style="width: 80%;">
            <div class="py-2">
                <form action="">
                    <label style="color: black;" for="name">Nome:</label>
                    <input class="form-control" type="text" placeholder="Insira o nome da Sala" aria-label="default input example">
                </form>
            </div>
        </div>
        <div class="text-center py-3">
            <button type="button" style="border-radius: 7px; background-color: #045CAC; color: white;" class="btn">Criar</button>
        </div>
    </div>
</div>