{% extends 'base.html' %}
{% load static %}

{% block style %}
    <style>
        .media{
            justify-content: center;
            padding-bottom: 50px;
        }
        @media only screen and (max-width: 770px) {
            .row{
                flex-direction: column;
            }
        }
    </style>
{% endblock %}

{% block content %} 
    <section>
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="mx-auto media col-6">
                    <a href="#">
                        <div class="card text-center" style="width: 18rem; background-color: #045CAC; color: white; border-radius: 20px;">
                            <div class="card-body">
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="white" class="bi bi-person-fill" viewBox="0 0 16 16">
                                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                                    </svg>
                                </div>
                                <h3 class="card-text py-3">Usuários</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="mx-auto media col-6">
                    <a href="#">
                        <div class="card text-center" style="width: 18rem; background-color: #045CAC; color: white; border-radius: 20px;">
                            <div class="card-body">
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="white" class="bi bi-house-fill" viewBox="0 0 16 16">
                                        <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z"/>
                                        <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293z"/>
                                    </svg>
                                </div>
                                <h3 class="card-text py-3">Salas</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="mx-auto media col-6">
                    <a href="#">
                        <div class="card text-center" style="width: 18rem; background-color: #045CAC; color: white; border-radius: 20px;">
                            <div class="card-body">
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="white" class="bi bi-check2-square" viewBox="0 0 16 16">
                                        <path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5z"/>
                                        <path d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0"/>
                                    </svg>
                                </div>
                                <h3 class="card-text py-3">Solicitações Pendentes</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="mx-auto media col-6">
                    <a href="#">
                        <div class="card text-center" style="width: 18rem; background-color: #045CAC; color: white; border-radius: 20px;">
                            <div class="card-body">
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="white" class="bi bi-check2-square" viewBox="0 0 16 16">
                                        <path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5z"/>
                                        <path d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0"/>
                                    </svg>
                                </div>
                                <h3 class="card-text py-3">Todas as Solicitações</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
