<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil Senai</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/mystyle.css">
    <style>
        @font-face {
            font-family: Modestic;
            src: url("../assets/fonts/modestic_sans/ModesticSans-Bold.ttf") format(truetype);
        }
    </style>
</head>
<body>
    <section>
        <!-- Perfil -->
        <div class="py-5">
            <h1 class="text-center" style="font-family: Modestic;">MEU PERFIL</h1>
            <div class="container">
                <div class="py-3">
                    <h4>E-mail: flavio@gmail.com</h4>
                </div>
                <div class="py-3 row">
                    <div class="col">
                        <h4>Nome de Usuário: Flavio Junior</h4>
                    </div>
                    <div class="col" style="text-align: end;">
                        <button type="button" class="btn btn-primary">Editar</button>
                    </div>    
                </div>
                <div class="py-3 row">
                    <div class="col">
                        <h4>Senha: *********</h4>
                    </div>
                    <div class="col" style="text-align: end;">
                        <button type="button" class="btn btn-primary">Trocar</button>      
                    </div>  
                </div>
            </div>
        </div>
    </section>
    <script src="../assets/js/bootstrap.bundle.min.js"></script>
</body>
</html>