{% extends 'users/base.html' %}
{% load static %}
{% block content %}
    <section>
        <!-- Solicitações -->
        <h1 style="font-family: Modestic;" class="text-center py-5">SALAS</h1>
        <div class="text-center">
            <button type="button" class="btn" style="font-family: Modestic; background-color: #f2f2f2; color: black; border-radius: 7px;" data-bs-toggle="modal" data-bs-target="#create_classroom">
                Criar sala
            </button>
        </div>
        <div style="margin-top: 30px; background-color: #045CAC; border-radius: 10px;" class="container p-5">
            <div class="row text-center">
                <div style="color: white;" class="col">
                    <div>
                        <h3>Sala</h3>
                    </div>
                </div>
                <div style="color: white;" class="col">
                    <div>
                        <h3>Id</h3>
                    </div>
                </div>
            </div>
            <div class="container text-center" style="color: white; background-color: #045CAC;">
                <hr style="margin: 0; opacity: 100;">
                <div class="row">
                    <div class="col">
                        <p>Lab. Informática</p>
                    </div>
                    <div class="col">
                        <p>103</p>
                    </div>
                </div>
                <hr style="margin: 0; opacity: 100;">
                <div class="row">
                    <div class="col">
                        <p>Lab. Informática</p>
                    </div>
                    <div class="col">
                        <p>103</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include 'rooms/partials/_modal.html' %}

{% endblock %}