<div class="modal fade" id="edit_hour" tabindex="-1" aria-labelledby="editHourLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editHourLabel">Editar Horário</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="edit-hour-form" method="post" action="">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="range_hour" class="form-label">Tempo de horario</label>
                        <input type="text" class="form-control" id="range_hour" name="range_hour" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>