{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/mystyle.css' %}">
    {% block title %}
        <title>RoomReservation</title>
    {% endblock %}

    {% block style %}
        <style>
            @font-face {
                font-family: Modestic;
                src: url("{% static 'assets/fonts/modestic_sans/ModesticSans-Bold.ttf' %}") format(truetype);
            }
        </style>
    {% endblock %}
    
</head>
<body>
    {% block nav %}
        {% include 'users/partials/teacher/_header.html' %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block scripts %}
        <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    {% endblock %}

    
</body>
</html>

