{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/mystyle.css' %}">
    {% block title %}
        <title>RoomReservation</title>
    {% endblock %}

    {% block style %}
        <style>
            @font-face {
                font-family: Modestic;
                src: url("{% static 'assets/fonts/modestic_sans/ModesticSans-Bold.ttf' %}") format(truetype);
            }
        </style>
    {% endblock %}
    
</head>
<body class="d-flex flex-column min-vh-100">
    {% block nav %}
        {% if user.user_type == "manager" %}
            {% include 'users/partials/manager/_header.html' %}
        {% elif user.user_type == "teacher" %}
            {% include 'users/partials/teacher/_header.html' %}
        {% else %}
            {% include 'users/partials/_header.html' %}
        {% endif %}
    {% endblock %}
    {% include 'users/partials/_messages.html' %}

    {% block content %}
    {% endblock %}

    {% block scripts %}
        <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    {% endblock %}

    {% include 'users/partials/_footer.html' %}

</body>
</html>

